@import "tailwindcss";
@import "@layerd/ui/ui.css";

/* Cyberpunk Theme */
[data-theme] {
	
	/* default */
	--theme-color: var(--color-slate-500);
	--theme-color-primary: var(--color-blue-600);
	--theme-color-secondary: var(--color-slate-500);
	--theme-color-accent: var(--color-green-500);
	--theme-color-neutral: var(--color-slate-500);
	--theme-color-info: var(--color-blue-600);
	--theme-color-warning: var(--color-amber-500);
	--theme-color-success: var(--color-emerald-500);
	--theme-color-danger: var(--color-rose-500);

	/* fonts */
	--theme-font: var(--font-asta);

	/* scale (default) */
	--theme-scale: 1.125;

	/* scale */
	--theme-scale-xs: 0.875; /* 14px basee */
	--theme-scale-sm: 1; /* 16px base */
	--theme-scale-md: 1.125; /* 18px base */
	--theme-scale-lg: 1.25; /* 20px base */
	--theme-scale-xl: 1.5; /* 24px base */

	/* radius */
	--theme-radius: 9999px;
	--theme-radius-box: 1.5rem;
	--theme-radius-button: 10em;


  /* borders, outlines, rings, strokes */
  --theme-edge: 1px; 
 	--theme-edge-xs: 1px;
	--theme-edge-sm: 2px;
	--theme-edge-md: 3px;
	--theme-edge-lg: 4px;
	--theme-edge-xl: 5px;
}